@font-face {
  font-family: 'MontRegular';
  src: url('@/Mont/Mont-Regular.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.big_cards_main {
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: rgba(196, 196, 196, 1);
  margin: 0px 1.25rem 0px;
  border-radius: 0.5rem;
  width: 27.5rem;
  height: 44.625rem;
  position: relative;
}

.big_cards_photo {
  width: 25rem;
  height: 18.75rem;
  border-radius: 10px;
  margin: 1.25rem 1.25rem 0;
}

#big_cards_group {
  margin: 1.25rem 1.875rem 2.188rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.big_cards_div {
  display: flex;
}

.big_cards_attributes {
  width: 30px;
  height: 30px;
}

#big_cards_group_buttons {
  position: absolute;
  bottom: 0;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.188rem;
}

.button_save_active {
  background-color: white;
  border-style: solid;
  border-width: thick;
  border-radius: 5px;
  border-color: rgba(196, 196, 196, 1);
  width: 9.625rem;
/*   all: unset; */
  height: 2.5rem;
}

.button_save_disactive {
  background-color: rgba(199, 94, 94, 1);
  color: white;
  border-radius: 5px;
  border-color: rgba(199, 94, 94, 1);
  width: 9.625rem;
  height: 2.5rem;
}

.button_search_disactive{
  border-style: solid;
  border-width: medium;
  border-radius: 5px;
  width: 9.625rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button_save_disactivate{
  background-color: rgba(199, 94, 94, 1);
  color: white;
  border-color: rgba(199, 94, 94, 1);
}

#button_save_activate{
  background-color: white;
  color: rgb(109, 126, 124);
  border-color: rgb(109, 126, 124);
}

#button_search_disactivate{
  background-color: rgba(94, 123, 199, 1);
  color: white;
  border-color: rgba(94, 123, 199, 1);
}

#button_search_drive{
  background-color: white;
  color: rgb(0, 255, 37);
  border-color: rgb(0, 255, 37);
}

#button_search_walking{
  background-color: white;
  color: rgb(245, 255, 0);
  border-color: rgb(245, 255, 0);
}

.text{
  max-height: 3em;
  /* Обрезаем текст, если он не помещается в блоке */
  overflow: hidden;
  /* Добавляем многоточие в конце обрезанного текста */
  text-overflow: ellipsis;
  /* Запрещаем перенос слов */
  white-space: wrap;
}

.icon_big_card{
  height: 20px;
  width: 16px;
  margin-right: 10px;
}

#icon_car{
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.font_big_card{
  font-family: 'MontRegular';
  font-size: 14px;
}