@font-face {
    font-family: 'MontRegular';
    src: url('@/Mont/Mont-Regular.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.name{
    font-family: 'MontRegular';
    font-size: 14px;
    color: blue;
}

.info{
    font-family: 'MontRegular';
    font-size: 14px;
    color: white;
    background-color: blue;
    border-radius: 4px;
    padding: 5px;
}

.options{
    font-family: 'MontRegular';
    font-size: 14px;
}

#drive{
    background-color: rgb(0,255,37);
}

#walking{
    background-color: rgb(245, 255, 0)
}